<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>

    </head>
    <style>
        #app {
            --main-bg-color: brown;
            --main-bg-color: brown;

        }
        .last-updated {
            display: flex;
            justify-content: flex-end;
        }
        .last-updated .last-updated__value {
            font-weight: bold;
            color: black;
            font-size: 16px;
        }
    </style>
    <body style="height: 528px; width: 880px; max-height: 528px; max-width: 880px;">
        <div id="app">
            <div class="last-updated">
                <div>
                    Last updated: <span class="last-updated__value">{{ lastUpdated }}</span>
                </div>
            </div>

            <div v-if="weatherCast">
                <div v-for="day in weatherCast.daily" :key="day.dt" style="display: flex; flex-direction: row;">
                    <span>
                        {{ getDayName(day.sunrise) }}
                    </span>
                    <span style="margin-left: 10px;">
                        Temp: {{ day.temp.day }}
                    </span>
                    <span style="margin-left: 10px;">
                        Weather: {{ day.weather[0].main }}
                    </span>
                </div>
            </div>

            <span v-if="weatherCast" class="weatherCast">
                {{ weatherCast }}
            </span>
        </div>
    </body>

    <script>
    new Vue({
      el: '#app',
      data() {
        return {
            isRed: false,
            lastUpdated: new Date().toLocaleString(),
            weatherCast: null,
        }
      },
      created() {
          this.getWeatherCast()
      },
      methods: {
          getDayName(date) {
            return dateFns.format(new Date(date * 1000), 'dddd')
          },
          formatDay(date) {
            return dateFns.format(new Date(date * 1000), 'DD/MM/YYYY')
          },
          getWeatherCast() {
            axios.get('http://api.openweathermap.org/data/2.5/onecall?lat=51.584870&lon=-0.280060&exclude=minutely&appid=811ade084421edfd4e2b8331ba00e291&units=metric')
                .then(res => {
                    this.weatherCast = res.data;
                console.log('🚀 ~ file: template.html ~ line 56 ~ getWeatherCast ~ res', res.data);
                })
          }
      }
    })

    </script>

</html>