.current {
    margin-bottom: 12px;

    .current_temp {
        font-weight: bold;
        font-size: 140px;
    }
    .current_sunrise-sunset {
        text-align: center;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}