.current {
    margin-bottom: 10px;

    .current_temp {
        margin: -10px 0;
        font-weight: bold;
        font-size: 140px;
        text-align: center;
    }
    .current_additional-details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .additional-details-element {
            display:flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 26px;
        }
    }
    .current_sunrise-sunset {
        font-size: 33px;
        font-weight: bold;
        text-align: center;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 45px;
            height: 45px;
            margin: 0 5px;
        }
    }
}