.forecast {
    height: 100%;
    padding: 0 10px;
    max-width: 250px;
    border-right: 2px solid black;

    .forecast__day {
        font-weight: bold;
        font-size: 30px;
        align-items: center;
        display: flex;
        justify-content: space-between;

        .day__right-section {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}