.forecast {
    max-width: 250px;
    .forecast__day {
        font-weight: bold;
        font-size: 30px;
        align-items: center;
        display: flex;
        justify-content: space-between;

        .day__right-section {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}