.home-assistant-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 219px;

  .home-assistant-temperature {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 100px 60px 31px;
  }
}
