.tflstatuses {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    .tflstatuses-title {
        padding: 4px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-bottom: none;
        img {
            width: 200px;
        }
    }
    .tflstatuses__status {
        display: flex;

        .status__name, .status__description {
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .status__name {
            min-width: 169px; // because of metline is longer LoL
            background: black;
            color: white;
            border: 2px black solid;
        }
        .status__description {
            border: 2px black solid;
        }
    }
}