.wedding-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .wedding-title {
        text-align: center;
        font-size: 38px;
    }
    .wedding-total-days {
        text-align: center;
        font-size: 36px;
    }
    .wedding-months {
        
        text-align: center;
        font-size: 16px;
    }
}

.red .wedding-container {
    display: none;
}