.rootContainer {
    position: relative;
    height: 538px;
    width: 880px;
    max-height: 538px;
    max-width: 880px;
    border-right: 5px solid red;
    border-bottom: 5px solid red;
    display: grid;
    grid-template-columns: 270px 400px 1fr;
    grid-template-rows: 100%;
}